#form-picture {
	display: block;
	animation: launch 1s;
	opacity: 1;
}
#form-camera {
	display: none;
	animation: launch 1s;
	opacity: 1;
}
@keyframes launch {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


